<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!
<style>
    table,
    th,
    td {
        border: 1px solid black;
        padding:5px;
        margin:4px
        text-align: center;
        border-collapse: collapse; 
    }
    </style>
<ul>
<table style="width:80%">
 <th>Title</th>
     <th>body</th>


  <% @articles.each do |article| %>
    <% unless article.archived? %>
     
     <tr>
    
       <td> <%= link_to article.title, article %></td>
       <td> <%= link_to article.body, article %></td>
         </tr>

     

    <% end %>
  <% end %>
  </table>
</ul>

<%= link_to "New Article", new_article_path %>
